

:root {
    --color-bg-dark: #2D3238;
    --color-bg-dark-2: #212529;
    --color-text-primary: #d4d4d4;
    --color-yellow-primary: #e9ab03;
}

.ff-a-400 {
    font-family: 'Antonio', sans-serif;
    font-weight: 400;
}

.ff-a-600 {
    font-family: 'Antonio', sans-serif;
    font-weight: 600;
}
    /* font-family: 'Poppins', sans-serif; */

body {
    background-color: var(--color-bg-dark);
}

.sidebar {
    box-shadow: rgba(31, 31, 31, 0.5) 0px 7px 29px 0px;
}

/* sidebar  */

.sidebar {
    background-color: var(--color-bg-dark-2) !important;
    height: 100vh !important;
    /* position: fixed; */
}

/* end side bar  */

/* dashboard  */

.header-hero a {
    text-decoration: none;
    color: var(--color-text-primary);
    font-size: 1.3em;
    transition: 0.4s;
}

.header-hero a:hover {
    color: var(--color-yellow-primary);
    transition: 0.4s;
}

.card-hero {
    background: var(--color-bg-dark-2);
    height: 140px;
    object-fit: fill;
    background-size: cover;
    background-repeat: no-repeat;
    /* filter: brightness(90%); */
}

.main-hero:hover .main-text-hero {
    display: none !important;
}

.hero-hover{
    opacity: 0%;
}

.hero-hover .backdrop-hero {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}


.main-hero:hover .hero-hover {
    opacity: 100%;
    transition: 0.3s;
}

.hero-hover .content-hover p {
    font-size: 11.5px;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: var(--color-text-primary);
    font-family: 'Poppins';
    font-weight: 300;
}

.card-hero h6 {
    color: var(--color-yellow-primary);
}

.hero-side-content {
    /* height: 3000px; */
    height: 100vh !important;
    overflow: auto !important;
}

.hero-side-content::-webkit-scrollbar {
    width: 7px;
}

.hero-side-content::-webkit-scrollbar-thumb {
    background: var(--color-text-primary);
    border-radius: 15px;
}

/* end dashboard  */