

:root {
    --color-bg-dark: #2d3238;
    --color-bg-dark-2: #212529;
    --color-text-primary: #d4d4d4;
    --color-yellow-primary: #f1b40c;
}

.ff-a-400 {
    font-family: 'Antonio', sans-serif;
    font-weight: 400;
}

.ff-a-600 {
    font-family: 'Antonio', sans-serif;
    font-weight: 600;
}
    /* font-family: 'Poppins', sans-serif; */

body, .modal-body {
    background-color: var(--color-bg-dark);
}

.sidebar {
    box-shadow: rgba(31, 31, 31, 0.5) 0px 7px 29px 0px;
}

/* sidebar  */

.sidebar {
    background-color: var(--color-bg-dark-2) !important;
    height: 100vh !important;
    /* position: fixed; */
}

/* end side bar  */

/* dashboard  */

.header-hero a {
    text-decoration: none;
    color: var(--color-text-primary);
    font-size: 1.3em;
    transition: 0.4s;
}

.header-hero a:hover {
    color: var(--color-yellow-primary);
    transition: 0.4s;
}

.active {
    color: var(--color-yellow-primary) !important;
}

.card-hero {
    height: 140px;
    object-fit: fill;
    background-size: cover;
    background-repeat: no-repeat;
    /* filter: brightness(90%); */
}

.detail-header-hero {
    height: 240px;
    background-position: 0px 0px ;
    object-fit: fill;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-hero:hover .main-text-hero {
    display: none !important;
}

.yellow-primary {
    color: var(--color-yellow-primary);
}

.white-primary {
    color: var(--color-text-primary);
}

.hero-hover .backdrop-hero {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.main-hero:hover .hero-hover {
    display: block !important;
    transition: 0.3s;
}

.hero-hover .content-hover p {
    font-size: 11.5px;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: var(--color-text-primary);
    font-family: 'Poppins';
    font-weight: 300;
}

.card-hero h6 {
    color: var(--color-yellow-primary);
}

.hero-side-content, .detail-content {
    /* height: 3000px; */
    height: 100vh !important;
    overflow: auto !important;
}

.hero-side-content::-webkit-scrollbar, .detail-content::-webkit-scrollbar {
    width: 7px;
}

.hero-side-content::-webkit-scrollbar-thumb, .detail-content::-webkit-scrollbar-thumb {
    background: var(--color-text-primary);
    border-radius: 15px;
}

.plus-icon button {
    position: absolute;
    right: 50px;
    bottom: 30px;
    background-color: var(--color-bg-dark-2);
    padding: 10px 15px;
    border-radius: 50%;
    color: var(--color-text-primary);
    font-size: 1.2em;
}

.modal-header, .modal-footer {
    background-color: var(--color-bg-dark-2);
    border: 0 !important;
}

.form-control, .form-select {
    box-shadow: none !important;
}
.form-hero {
    background: var(--color-bg-dark-2);
    border: solid 0.5px var(--color-text-primary) !important;
    color: var(--color-yellow-primary);   
    letter-spacing: 0.6px; 
    font-size: 18px;
}

.form-hero.hero{
    color: #fff !important;
    font-size: 22px;
}

.form-hero:focus {
    background: var(--color-bg-dark-2) !important;
    color: var(--color-yellow-primary);
}

.detail-content {
    padding: 0px !important ;
}

.title-detail h1 {
    font-size: 3em ;
}

.fs-6 {
    font-size: 0.8em !important;
    letter-spacing: 0.3px;
}

.bg-dark-primary {
    background: var(--color-bg-dark-2) !important;
}

.card {
    background: var(--color-bg-dark-2) !important;
}

.btn-top-fixed {
    z-index: 99999;
    top: 20px;
}

.btn-top-fixed.delete {
    right: 7.2%;
    background: #892924;
}

@media screen and (min-width: 992px) {
    .btn-top-fixed.back {
        right: 60%;
    }
    .btn-top-fixed.setting {
        right: 10%;
    }
}
/* 768 */
@media screen and (max-width: 991px) {
    .btn-top-fixed.back {
        right: 40%;
    }
    .btn-top-fixed.setting {
        right: 11.5%;
    }
}

@media screen and (max-width: 767px) {
    .btn-top-fixed.back {
        right: 85%;
    }
    .btn-top-fixed.setting {
        right: 17%;
    }
}

.swal-title {
    margin: 0px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 28px;
  }

.swal-footer {
    text-align: center;
}

/* end dashboard  */